* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
}

body,
html {
    height: 100%;
  margin: 0;
}

h1 {
    border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.date,
.info {
    color: grey;
}

#content,
#sidebar {
    display: inline-block;
  float: left;
  padding: 20px;
  height: 100%;
}

#content {
    width: 80%;
}

#sidebar {
    width: 20%;
  background-color: lightgrey;
}
